body{
    padding: 2rem;
}
.postagens{
    margin: 2rem 0;
    padding: 1rem;
    flex-direction: column;
    row-gap: 1rem;
}
.postagem{
    border-radius: 10px;
    box-shadow: 1px 1px 9px black;
    flex-direction: column;
    background-color: gray;
    padding: 1rem;   
}
.postagem-cabecalho{
    grid-template-columns: 25% 75%;
}
.postagem-img{
    width: 50%;
    margin: auto;
}
.postagem-cabecalho__infos{
    grid-template-rows: 30% 60%;
}
.postgem-titulo{
    margin: 0 auto;
}